.jumbotron {
    background-image: url(../images/jesse-mills-b4dAhP7W89c-unsplash.jpg);
    background-size: 100% 100%;
}

h1 {
    text-align: center;
    font-family: 'Faster One', cursive;
    font-size: 5rem;
    color: white;
}


.lead {
    text-align: center;
    font-weight: bold;
    color: white;
}

.card-header {
    background-color: #f1d117 ;
    color: black;
    font: 'Player', cursive;
    font-weight: bold;

}
.btn {
    background-color: #f1d117 ;
    color: black;
    font: 'Player', cursive;
    font-weight: bold;
}

.photo-credit {
    text-align: center;
    font-family: 'Player', cursive;
    font-size: 1em;
}

@media screen and (max-width: 640px) {
h1 {
    font-size: 1.5em;
}

.lead {
    font-size: 1em;
}